.logo {
  font-size: 26px;
  font-family: "Playfair Display", serif, -apple-system;
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  a {
    display: block;
  }
}
.logo-mobile {
  display: block;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  a {
    display: block;
  }
}
